extends layout.pug

block head
  title 記事一覧
  //- link(rel="stylesheet" href="/styles/articles.css")
block content
  .page-header
    h1 記事一覧
    
  ul.list-group
    each article in articles
      li.list-group-item
        a(href="/articles/" + article.id) #{article.title}
