extends layout.pug
block head
  //- link(rel="stylesheet" href="/styles/new_aricles.css")
  //- link(rel="stylesheet" href="/styles/new_article.css")
  title 記事編集
block content
  .page-header
    h1 記事編集
  form(action=`/articles/${article.id}?_method=put` method="post")
    .form-group
      input.form-control(type="text" name="title" value=article.title)
    .form-group
      textarea.form-control(name="body" rows="10")=article.body
    .form-group
      input.btn.btn-primary.btn-lg.btn-block(type="submit" value="編集")#meik
    p