doctype html
html
  head
    mate(cherset="UTF-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="/bundle.js")
    block head
      title pacridon
  body 
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(herf="/") pacridon
    .container      
      block content

