//- extends layout.pug
//- block head
//-   mate(cherset="UTF-8")
//-   link(rel="stylesheet" href="/styles/login.css")
//-   title ユーザー登録
//- block content
//-   h1 ユーザー登録
//-   form(action="signup" method="post")
//-     .form-group
//-       input.form-control(type="email" name="email" placeholder="メールアドレス")
//-     .form-group
//-       input.form-control(type="password" name="password" placeholder="パスワード")
//-     .form-group
//-       input.btn.btn-primary.btn-lg.btn-block(type="submit" value="登録")
//-     p

extends layout.pug
block head
  mate(cherset="UTF-8")
  //- link(rel="stylesheet" href="/styles/login.css")
  title ユーザー登録
block content
  .row
    .col-md-6.col-md-offset-3
      .page-header
        h1 ユーザー登録
      form(action="signup" method="post")
        .form-group
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-envelope
            input.form-control(type="email" name="email" placeholder="メールアドレス" required)
        .form-group
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input.form-control(type="text" name="nickname" placeholder="ニックネーム" required)
        .form-group
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input.form-control(type="password" name="password" placeholder="パスワード" required)
        .form-group
          input.btn.btn-primary.btn-lg(type="submit" value="登録")
        p