extends layout.pug
block head
  link(rel="stylesheet" href="/styles/top.css")
  title トップページ
block content
  .row
    .col-md-6.col-md-offset-3
      #logo
        img(src="./pacridon-logo.png")
      form(action="/top")
        h1 pacridonへようこそ
        p