extends layout.pug
block head
  link(rel="stylesheet" href="/styles/top.css")
  title トップページ
block content
  .row
    .col-md-6.col-md-offset-3
      #logo
        img(src="./pacridon-logo.png")
      form(action="/top")
        h1 pacridonへようこそ
          .form-group
          input.btn.btn-primary.btn-lg(type="submit" value="ログインページへ" onclick="location.href='http://localhost:3000/login'" )
        p